<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

	<head>
        <title>orfheo</title>
     		<meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Muestra y descubre proyectos, lanza tus convocatorias, participa en grandes eventos. Crea en red: tu comunidad cultural te llama." />
        <meta name="keywords" content="orfheo, convocatoria, eventos, organizaciones, festival, federaciones, ong, empresas, instituciones, valencia, arte, artistas, proyectos, espacios, asociaciones, música, taller, artes, escénicas, exposición, comunidad, cultura, plataforma, social, network, gestión, cultural, community, futuro, cambio, herramienta, alternativa, sostenibilidad, creación, colaboración, portfolio, vetrina, enlaces, red, colores" />
        <meta name="robots" content="index, follow" />
        <meta name="author" content="orfheo community project" />

        <!-- fb preview meta tags -->
        <meta property="og:image:url" content="<%= image_path 'orfheo_fb_preview.jpg' %>"/>     <!-- img 1200 x 630 (alto x ancho) -->
        <meta property="og:image:type" content="image/jpg">
        <meta property="og:title" content="orfheo | your cultural community"/>
        <meta property="og:url" content="http://www.orfheo.org"/>
        <meta property="og:site_name" content="orfheo"/>
        <meta property="og:type" content="website"/>
        <meta property="og:description" content="Muestra y descubre proyectos, lanza tus convocatorias, participa en grandes eventos. Crea en red: tu comunidad cultural te llama."/>

        <!-- favicon -->
        <link rel='shortcut icon' href="<%= image_path 'logo_favicon.ico' %>" type='image/png'/>

        <!-- google icon -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        
        <!-- google maps -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCimmihWSDJV09dkGVYeD60faKAebhYJXg&libraries=places"
        async defer></script>
        <!-- Monitoring code google-analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-76861000-1', 'auto');
          ga('send', 'pageview');
        </script>


	</head>


	<body>
        <%= javascript_tag 'jquery' %>
        <%= javascript_tag 'ours' %>
        <%= stylesheet_tag 'ours' %>
    	  <%= yield %>
	
<!-- 	<script>
      $(window).load(function() {
         $(document).foundation();
      }); 
  </script>

 -->
	</body>

</html>

